.saved-news {
  max-height: 294px;
  padding: 40px 104px 56px;
  background-color: white;
}

.saved-news__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.saved-news__title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news__header {
  margin: 0;
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  color: rgba(26, 27, 34, 1);
}

.saved-news__keywords_container {
  display: flex;
  align-items: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
  height: 24px;
}

.saved-news__keywords_title {
  font-weight: 400;
}

.saved-news__keywords {
  margin-left: 3px;

  font-weight: 600;
}
