.header-main {
  background-image: url("../../images/background\ image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.page {
  min-height: 1280px;
}
