.searchform {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.searchform__header {
}

.searchform__text-heading {
  font-family: "Roboto-Slab", Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: white;
  margin-bottom: 32px;
}

.searchform__text-subheading {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  margin-bottom: 88px;
}

.searchform__searchbar {
  /* display: flex;
  justify-content: center; */
}

.searchform__searchbar-input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 608px;
  height: 62px;
  border-radius: 64px;
  border: 1px solid #d1d2d6;
  padding-left: 24px;
}

.searchform__searchbar-input::placeholder {
  /* position: relative;
  left: 24px; */
  color: #b6bcbf;
}

.searchform__searchbar-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: white;
  background-color: #2f71e5;
  border: none;
  width: 168px;
  height: 66px;
  border-radius: 64px;
  position: relative;
  left: -168px;
  bottom: -1px;
  cursor: pointer;
}

.searchform__searchbar-button:hover {
  background-color: #347eff;
}

.searchform__searchbar-button:focus {
  background-color: #2a65cc;
}
