.footer {
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 106px;
  background-color: white;
}

.footer__text {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #b6bcbf;
}

.footer__buttons {
  display: flex;
  gap: 40px;
}

.footer__button {
  background-color: transparent;
  color: black;
  border: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.footer__icons {
  display: flex;
  gap: 24px;
}

.footer__icon-button {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer {
    max-height: 176px;
    padding: 20px 16px 22px;
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .footer__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .footer__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
